@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0f0f13;
    --foreground: #f1f5f9;
    --radius: 0.5rem;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  * {
    @apply border-border;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
